<h2><%= @admin.name %>, <%= @admin.email %></h2>
<h2><%= link_to "Edit Profile", edit_admin_path(current_admin) %></h2>
<h2><%= link_to "Create New Admin", signup_path, class: "btn btn-lg btn-primary" %></h2>
<h2><%= link_to "List Admin", admins_path %></h2>
