<% provide(:title, 'All books') %>
<h1>All books</h1>
 <table style="table-layout: fixed; width: auto">

  <% @books.each do |book| %>
  <tr>
      <td><%=book.isbn%><td>
      <td><%=book.title%><td>
      <td><%=book.description%><td>
      <td><%=book.author%><td>
      <td><%=book.status%><td>
  </tr>
  <% end %>

  </table>