<table style="width:100%">
  <tr>
    <td>ISBN</td>
    <td>Title</td>
    <td>Description</td>
    <td>Author</td>
    <td>Status</td>
  </tr>
  <tr>
      <%=session[:book_value]=params[:id]%>
      <td><%= link_to @book.isbn, editbook_path(current_book)%><td>
      <td><%=@book.title%><td>
      <td><%=@book.description%><td>
      <td><%=@book.author%><td>
      <td><%=@book.status%><td>
      
  </tr>

</table>