<!DOCTYPE html>
<html>
<head>
<title><%= full_title(yield(:title))%></title>
<%= stylesheet_link_tag 'application', media: 'all',
'data-turbolinks-track' =>true%>
<%= javascript_include_tag'application', 'data-turbolinks-track' =>true%>
<%= csrf_meta_tags%>
<!--[if lt IE 9]>
<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
</script>
<![endif]-->
</head>
<body>
<header class="navbar navbar-fixed-top navbar-inverse">
<div class="container">
<%= link_to "LibSys", root_path %>
<nav>
<ul class="nav navbar-nav pull-right">
<li><%= link_to "Home", root_path %></li>
<li><%= link_to "Help", help_path %></li>

<% if logged_in? %>
    <li><%= link_to current_admin.name, current_admin %></li>
<% else %>
    <li><%= link_to "Admin Log in", login_path %></li>
<% end %>
<li><%= link_to "Admin Log out", logout_path, method: "delete" %></li>

<% if logged_in_member? %>
    <li><%= link_to current_member.name, current_member %></li>
<% else %>
    <li><%= link_to "Lib Member Log in", loginmember_path %></li>
<% end %>
<li><%= link_to "Lib Member Log out", logoutmember_path, method: "delete" %></li>
</ul>
</nav>
</div>
</header>
<div class="container">
<%= yield %>
</div>
</body>
</html>